.navbar {
  display: flex;
  align-items: center;
  padding: 25px 50px;
  background-color: #ffc300;
  color: #001d3d;
}

.navbar ul {
  display: flex;
  margin-left: auto;
}

.navbar ul li {
  margin: 0 25px;
}

.logo {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .navbar ul {
    display: none;
  }
}
