.navbar {
  display: flex;
  align-items: center;
  padding: 50px;
  font-weight: normal;
  position: relative;
  align-items: center;
}

#ls-tabs {
  display: flex;
  margin-left: auto;
}

#ls-tabs li {
  padding-top: 10px;
  margin: 0 25px;
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.navbar-menu {
  z-index: 50;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 10000px;
  width:90%;
  transition: all .2s ease-in-out;
  transform: translateX(100%);
  color: #111;
}

.navbar-menu ul {
  margin: 200px 0 0 100px;
  list-style: none;
}

.navbar-menu ul li {
  margin: 25px 0;
}

.navbar-menu ul li:hover {
  color: #ca0b2b;
}

#button {
  margin-left: auto;
  display: none;
}

#bars {
  z-index: 99;
  display: flex;
  position: relative;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, .2);
  transition: all 0.5s ease-in-out;
}

#bars::before,
#bars::after {
  content: '';
  z-index: 99;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, .2);
  transition: all 0.5s ease-in-out;
}

#bars::before {
  z-index: 99;
  transform: translateY(-8px);
}

#bars::after {
  z-index: 99;
  transform: translateY(8px);
}

.open #bars {
  z-index: 99;
  /* transform: translateX(50px); */
  background: transparent;
  box-shadow: none;
}

.open #bars::before {
  z-index: 99;
    background: #ca0b2b;
  transform: rotate(45deg);
}

.open #bars::after {
  z-index: 99;
    background: #ca0b2b;
  transform: rotate(-45deg);
}

.cta {
  padding: 10px;
  background-color: #0a0a0a;
  color: #fff;
  border-radius: 3px;
}

@media only screen and (max-width: 1000px) {
  #ls-tabs {
    display: none;
  }
  #button {
    display: flex;
  }
  .navbar-menu {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding: 25px;
  }
}
