.hwe {
  margin: 200px 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 4rem;
  background-image: linear-gradient(135deg, #ca0b2b 10%, #f5af19 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 100px;
}

@media only screen and (max-width: 450px) {  
  .heading {
    margin: 100px 0;
    margin-top: 0;
  }
  .heading {
    font-size: 3rem;
  }
}


.hwe-image {
  background: url("https://images.pexels.com/photos/7265927/pexels-photo-7265927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat;
  background-size: cover;
  height: 400px;
  width: 2000px;
}

.hwe h1 {
  font-size: 2.5rem;
  /* background-image: linear-gradient(135deg, #ca0b2b 10%, #f5af19 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.hwe ul {
  margin-top: 25px;
  list-style: circle;
}

.hwe ul li {
  margin: 10px 0;
}

.hwe-image {
  padding: 50px 0;
}

.hwe-text {
  background-color: #ca0b2b;
  padding: 100px;
}

@media only screen and (max-width: 1060px) {
  .hwe-text {
    padding: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .hwe {
    flex-direction: column;
  }
  .hwe-image {
    height: 300px;
    width: 100%;
  }             
}

@media only screen and (max-width: 490px) {
  .hwe-text {
    padding: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .hwe {
    margin: 100px 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 450px) {
  .hwe h1 {
    font-size: 2rem;
  }
}
