.services {
  margin: 200px 0;
  margin-bottom: 0;
}

.services h1 {
  font-size: 4rem;
  background-image: linear-gradient(135deg, #ca0b2b 10%, #f5af19 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.service-cards {
  margin: 100px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 25px;
  background-color: #ca0b2b;
  margin: 12.5px;
  border-radius: 3px;
}

.service-card img {
  height: 100px;
  margin: 25px 0;
  /* transform: translateY(-50%); */
}

.service-card p {
  text-align: center;
  margin: 25px 0;
}

@media only screen and (max-width: 650px) {
  .service-cards {
    margin: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .services h1 {
    font-size: 3rem;
  }
  .services {
    margin: 100px 0;
  }
  .service-cards {
    margin: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .service-cards {
    margin: 25px 5px;
  }
}
